<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile=".\logs\internal.log"
      internalLogLevel="Info">

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="fileLog" fileName=".\logs\nlog-all-${shortdate}.log"
				layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

		<!--Mail Target to send mail if Error or Fatal log level occurs-->
		<target xsi:type="Mail"
			name="mailLog"
			layout="${date}|${level:uppercase=true}|${message} ${exception}|${newline}"
			html="true"
			addNewLines="true"
			replaceNewlineWithBrTagInHtml="true"
			subject="An error occured in Hangfire Sample on ${machinename} machine"
			to="devs@wellahealth.com"
			from="wellahealth@gmail.com"
			body="${date}|${level:uppercase=true}|${message} ${exception}|${newline}"
			smtpUserName="wellahealth@gmail.com"
			enableSsl="true"
			smtpPassword=""
			smtpAuthentication="Basic"
			smtpServer="smtp.gmail.com"
			smtpPort="587"
			deliveryMethod="Network"
			timeout="60000"
 />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLog" />
		<logger name="*" minlevel="Error" writeTo="fileLog, mailLog" />
	</rules>
</nlog>

<!--link https://github.com/nlog/NLog/wiki/Mail-target-->